<div class="summary-table">
  <table>
    <tr>
      <td>
        {% if include.speaker %}
          {% assign speakers = include.speaker
            | join: ","
            | split: ","
            | array_filter
          %}
          {% for speaker in speakers %}
            {% assign member = site.members
              | where_exp: "member", "member.slug == speaker"
              | first
            %}
            {% if member %}
            {% include portrait.html lookup=speaker style="tiny" %}
            {% else %}
            <span>
            </i> {{ speaker }}</span>
            {% endif %}
          {% endfor %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        {% if include.video %}
        {% assign video = include.video %}
        {% if include.unibo %}
            <span><i class="fa-solid fa-video">
            </i> -- <a href="{{ video }}"> {{include.video_title}} (accesso con credenziali UniBO)</a></span>
        {% else %}
        <span><a href="{{ video }}">{{include.video_title}} </a></span>
        {% endif %}
        {% endif %}
      </td>
    </tr>

        {% if include.length %}
        <tr>
          <td> <b>Durata:</b> {{include.length}}</td>
        </tr>
        {% endif %}
    <!-- <tr>
      <th>Licenza:</th>
      <td></td>
    </tr>
    <tr>
      <th>Download:</th>
      <td></td>
    </tr>
    <tr>
      <th>Lingua alternativa:</th>
      <td></td>
    </tr> -->
  </table>
</div>