<div class="summary-table">
  <table>
    <tr>
      <th colspan="2">
        <span>I contenuti di questa pagina sono stati elaborati a partire dal seminario tenuto presso il Laboratorio Sperimentale da</span>
      </th>
    </tr>
    <tr>
      <td colspan="2">
        {% if include.speaker %}
          {% assign speakers = include.speaker
            | join: ","
            | split: ","
            | array_filter
          %}
          {% for speaker in speakers %}
            {% assign member = site.members
              | where_exp: "member", "member.slug == speaker"
              | first
            %}
            {% if member %}
              {% include portrait.html lookup=speaker style="tiny" %}
            {% else %}
              <span>{{ speaker }}</span>
            {% endif %}
          {% endfor %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        {% if include.video %}
          {% assign video = include.video %}
          {% if include.unibo %}
            <span><i class="fa-solid fa-video"></i> -- <a href="{{ video }}"> {{ include.video_title }} (accesso con credenziali UniBO)</a></span>
          {% else %}
            <span><a href="{{ video }}">{{ include.video_title }}</a></span>
          {% endif %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        {% if include.length %}
          <i class="fa-solid fa-hourglass-start"></i> <b>Durata:</b> {{ include.length }}
        {% endif %}
      </td>
      <td>
        {% if include.materials %}
          {% assign materials = include.materials %}
          <i class="fa-solid fa-bookmark"></i>
          <b>Materiali:</b> <a href="{{ site.baseurl }}/{{ materials }}" target="_blank">{{ materials | split: '/' | last }}</a>
        {% endif %}
      </td>
    </tr>
  </table>
</div>